# Secrets
secrets.yaml
.env

# Home Assistant intern data
.storage/
.cloud/
.cache/
.ha_run.lock

home-assistant_v2.db*
zigbee.db
*.log
*.log.fault

# Media och cache
tts/
media/
www/community/

# Backuper
backups/
backup/